@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;800&display=swap');

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  background-image: 
    url('../assets/images/pattern-circle.svg'),
    url('../assets/images/pattern-circle.svg'),
    url('../assets/images/pattern-squiggly-line-bottom-desktop.svg'),
    url('../assets/images/pattern-squiggly-line-top.svg'),
    url('../assets/images/pattern-lines.svg'),
    url('../assets/images/background-desktop.png');
  background-repeat: 
    no-repeat,    /* Circulo topo */
    no-repeat,    /* Circulo inferior */
    no-repeat,    /* Faixa inferior */
    no-repeat,    /* Faixa topo */
    no-repeat,    /* Linhas */
    repeat;       /* Background principal */
  background-position: 
    top -80px left 120px,        /* Circulo topo */
    bottom 400px right 500px,    /* Circulo inferior */
    bottom left,                 /* Faixa inferior */
    top 100px right,             /* Faixa topo */
    top,                         /* Linhas */
    center;                      /* Background principal */
  background-size: 
    220px,          /* Circulo topo */
    160px,          /* Circulo inferior */
    auto,           /* Faixa inferior */
    auto,           /* Faixa topo */
    91% auto,       /* Linhas */
    cover;          /* Background principal */
  color: var(--neutral-900);
  min-height: 100vh;
  line-height: 1.5;
}

/* Header */
.header {
  background: transparent;
  padding: 32px 0 16px 0;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
}

/* Main container */
.main-container {
  max-width: 900px;
  margin: 0px auto;
  padding: 32px 24px;
  background: transparent;
  border-radius: 24px;
  box-shadow: transparent;
}

/* Formulario */
#formSection {
  margin-bottom: 0px;
  margin-top: 0;
}

#formSection input:hover {
  border-color: var(--orange-700);
}

.form-header {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.formHeader1 {
  font-size: 3.5rem;
  font-weight: 800;
  background: var(--neutral-0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 12px;
}

.formHeaderparagraph {
  font-size: 1.3rem;
  color: var(--neutral-300);
  font-weight: 500;
}

#ticketForm {
  max-width: 420px;
  margin: 0 auto;
  background: transparent;
  padding: 16px 0px;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.06);
}

.form-control {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-size: 20px;
  font-weight: 700;
  color: var(--neutral-300);
  margin-bottom: 8px;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="file"] {
  padding: 12px;
  border: 1.5px solid var(--neutral-500);
  border-radius: 8px;
  font-size: 1rem;
  background: hsla(245, 19%, 35%, 0.3);
  color: var(--neutral-300);
  font-family: inherit;
  margin-bottom: 16px;
  transition: border 0.2s;
}

.form-control input:focus {
  border-color: var(--orange-500);
  outline: none;
}

.avatar-label {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px dashed var(--neutral-700);
  border-radius: 12px;
  padding: 20px;
  background: hsla(245, 19%, 35%, 0.3);
  cursor: pointer;
  margin-bottom: 8px;
  transition: border 0.2s;
  min-height: 120px;
  height: 120px;
  overflow: hidden;
}

#avatarPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -64%);
  width: 60%;
  max-width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  display: none;
  z-index: 2;
  background: #222;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.avatar-label:hover {
  border-color: var(--orange-700);
}

.avatar-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-icon {
  width: 38px;
  height: 38px;
  margin-bottom: 8px;
}

.form-avatar-text {
  color: var(--neutral-500);
  font-weight: 700;
  font-size: 1rem;
}

.form-avatar-info {
  font-size: 0.80rem;
  color: var(--neutral-500);
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.icon-info {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.btn {
  background: var(--orange-500);
  color: var(--neutral-900);
  border: none;
  padding: 14px 0;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  letter-spacing: 1px;
}

.btn:hover {
  background: var(--orange-700);
}

.errors {
  color: var(--orange-700);
  margin-top: 18px;
  min-height: 24px;
  text-align: center;
  font-weight: 700;
}

/* Ticket */
#ticketSection {
  margin-top: 0px;
}

.ticket-header {
  text-align: center;
  margin-bottom: 60px;
}

.ticketHeader1 {
  font-size: 3rem;
  font-weight: 800;
  background: var(--neutral-0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 10px;
}

.ticketHeader1 #ticketNameHeader{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticketHeaderparagraph {
  font-size: 1.2rem;
  color: var(--neutral-300);
  font-weight: 500;
}

.ticketHeaderparagraph #ticketEmailHeader {
  color: var(--orange-500);
  font-weight: 700;
}

.ticket {
  display: flex;
  margin-top: 2rem;
  padding: 2.5rem 2rem 2rem 8rem;
  border-radius: 12px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-image: url('../assets/images/pattern-ticket.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 420px;
  max-width: 650px;
  aspect-ratio: 16 / 9;
  background-size: 100% 100%;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket .inline-logo {
  position: absolute;
  top: 0rem;
  left: 2rem;
  width: 200px;
  height: 200px;
  object-fit: contain;
  opacity: 1;
  z-index: 2;
}

.ticket .ticket-date-location {
  position: absolute;
  top: 7rem;
  left: 2rem;
  padding: 1rem;
  margin: auto;
  font-size: 1.1rem;
  color: var(--neutral-300);
}

.ticket #ticketAvatar {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  z-index: 2;
}

.ticket .ticket-name {
  position: absolute;
  bottom: 7.5rem;
  left: 9.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  word-break: break-word;
  color: var(--neutral-0);
  line-height: 1.4;
  max-width: 90%;
}

.ticket .git-icon {
  position: absolute;
  bottom: 5.5rem;
  left: 10rem;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  z-index: 2;
}

.ticket .ticket-github {
  position: absolute;
  bottom: 4.9rem;
  left: 12rem;
  padding: 1rem;
  font-size: 1.1rem;
  word-break: break-word;
  color: var(--neutral-0);
  line-height: 1.4;
  max-width: 90%;
}

.ticket .ticket-number {
  position: absolute;
  bottom: 8rem;
  left: 32.6rem;
  padding: 1rem;
  font-size: 2rem;
  word-break: break-word;
  color: var(--neutral-300);
  line-height: 1.4;
  max-width: 90%;
  transform: translateY(-50%) rotate(90deg); /* This rotates the text */
}

/* Utilidades */
.hidden {
  display: none !important;
}

/* Responsivo */
@media (min-width: 540px) and (max-width: 720px) and (max-height: 720px) {
  .ticket {
    min-height: 260px;
    padding: 1.8rem;
    margin: 1.5rem auto;
    max-width: 500px;
  }
  
  .ticket .inline-logo {
    width: 110px;
    left: 1.5rem;
    top: -2rem;
  }
  
  .ticket .ticket-date-location {
    left: 1.5rem;
    top: 4.5rem;
    font-size: 0.95rem;
  }
  
  .ticket #ticketAvatar {
    width: 90px;
    height: 90px;
    left: 1.5rem;
    bottom: 3rem;
  }
  
  .ticket .ticket-info {
    left: 7.8rem;
    bottom: 4rem;
    gap: 0.4rem;
  }
  
  .ticket .ticket-name {
    font-size: 1.25rem;
    left: 7.8rem;
    bottom: 5.4rem;
  }
  
  .ticket .git-icon {
    width: 35p  x;
    height: 35px;
    left: 8.4rem;
    bottom: 4rem;
  }
  
  .ticket .ticket-github {
    font-size: 1rem;
    left: 10rem;
    bottom: 3.4rem;
  }
  
  .ticket .ticket-number {
    right: 2rem;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
  }
}

@media (max-width: 430px) {
  .ticket {
    min-height: 220px;
    padding: 1.2rem;
  }
  
  .ticket .inline-logo {
    width: 150px;
    top: -3rem;
  }
  
  .ticket .ticket-date-location {
    top: 3rem;
    font-size: 0.8rem;
  }
  
  .ticket #ticketAvatar {
    width: 70px;
    height: 70px;
    bottom: 2rem;
  }
  
  .ticket .ticket-info {
    left: 5.5rem;
    bottom: 3rem;
  }
  
  .ticket .ticket-name {
    font-size: 1rem;
    left: 6rem;
    bottom: 3.6rem;
  }
  
  .ticket .git-icon {
    width: 25px;
    height: 25px;
    left: 7rem;
    bottom: 2.5rem;
  }
  
  .ticket .ticket-github {
    font-size: 0.9rem;
    left: 8rem;
    bottom: 1.5rem;
  }
  
  .ticket .ticket-number {
    font-size: 1.2rem;
    left: 18rem;
    bottom: 3rem;
  }
}

@media (max-width: 344px) {
  .ticket {
    min-height: 200px;
    padding: 1rem;
  }
  
  .ticket .inline-logo {
    width: 100px;
    left: 1rem;
    top: -2.5rem;
  }
  
  .ticket .ticket-date-location {
    left: 1rem;
    top: 3rem;
    font-size: 0.75rem;
  }
  
  .ticket #ticketAvatar {
    width: 45px;
    height: 45px;
    left: 0.8rem;
    bottom: 3rem;
  }
  
  .ticket .ticket-info {
    left: 4.8rem;
    bottom: 2.5rem;
  }
  
  .ticket .ticket-name {
    font-size: 0.5rem;
    left: 4rem;
    bottom: 3.7rem;
  }
  
  .ticket .git-icon {
    font-size: 0.75rem;
    left: 4.8rem;
    bottom: 3.2rem;
  }

  .ticket .ticket-github {
    font-size: 0.75rem;
    left: 5.4rem;
    bottom: 2.4rem;
  }
  
  .ticket .ticket-number {
    top: 6rem;
    left: 12rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 375px){
  .ticket {
    min-height: 200px;
    padding: 1rem;
    margin: 1rem auto;
  }
  
  .ticket .inline-logo {
    width: 100px;
    left: 1rem;
    top: -3rem;
  }
  
  .ticket .ticket-date-location {
    left: 0.8rem;
    top: 2.8rem;
    font-size: 0.75rem;
  }
  
  .ticket #ticketAvatar {
    width: 60px;
    height: 45px;
    left: 0.8rem;
    bottom: 3.2rem;
  }
  
  .ticket .ticket-info {
    left: 4.8rem;
    bottom: 2.8rem;
    gap: 0.2rem;
  }
  
  .ticket .ticket-name {
    font-size: 0.9rem;
    left: 4.5rem;
    bottom: 3.6rem;
  }
  
  .ticket .git-icon {
    width: 16px;
    height: 16px;
    left: 5.4rem;
    bottom: 3.4rem;
  }
  
  .ticket .ticket-github {
    font-size: 0.75rem;
    left: 5.6rem;
    bottom: 2.2rem;
  }
  
  .ticket .ticket-number {
    font-size: 0.8rem;
    letter-spacing: 1px;
    left: 15rem;
    bottom: 2.8rem;
  }
}